
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shifts Management</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/shift.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/title.png">

   

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!-- <div class="back-button">
        <a href="index.html"><i class="fas fa-arrow-left"></i></a>
    </div> -->
    <%-include('include/navbar.ejs')%>
    <main>

    
    <div class="shifts-container">
      
        <div class="shifts-form">
            <h2>Add a New Shift</h2>
            <form id="shift-form">
                <label for="shift-date">Date:</label>
                <input type="date" id="shift-date" required>
                
                <label for="shift-start">Start Time:</label>
                <input type="time" id="shift-start" required>
                
                <label for="shift-end">End Time:</label>
                <input type="time" id="shift-end" required>
             <%   if(user){%>

                    <button type="submit">Add Shift</button>
                    <%  }%>
                    <%    if(!user){%>
                    <div class="text"> only logged in user can add shift</div>
                    <%   }%>
          
            </form>
        </div>

        <div class="shifts-list">
            <h2>Your Shifts</h2>
            <ul id="shift-list">
                <!-- List of shifts will be dynamically added here -->
                
            </ul>
        </div>

    </div>

  
    <!-- footer -->
     <%-include('include/footer.ejs')%>
    </main>
    <script src="/js/shifts.js"></script>
    <script src="/js/nav.js" defer> </script>

</body>
</html>
