.bottom-nav {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    background-color: #f0a500;
    width: 100%;
    padding: 15px;
    border-top: 2px solid #ccc;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.bottom-nav a {
    color: white;
    font-size: 24px;
    transition: color 0.3s ease;
}

.bottom-nav a:hover {
    color: #007BFF;
}
.bottom-nav{
    display: none !important;
    }
    @media (max-width: 768px) {
        .bottom-nav{
            display: flex !important;
           
            }
    }