<div class="bottom-nav">
    <a href="index.html"><i class="fas fa-home"></i></a>
    <a href="all.html"><i class="fa-solid fa-calculator"></i></a>
    <a href="shifts.html"><i class="fa-solid fa-clock"></i></a>
    <a href="profile.html"><i class="fas fa-user"></i></a>
    </div>
