<nav class="navbar">
    <div class="navbar-brand">My App</div>
    <button class="navbar-toggler">
        <i class="fas fa-bars"></i>
    </button>
    <ul class="navbar-nav">
        <li><a href="/calculator">Calculator</a></li>
        <li><a href="/shift">Shifts</a></li>
        <!-- <li><a href="/profile">Profile</a></li> -->
      <%  if(user){%>
      <li class="avatar"> <a href="/profile/<%=user._id%>"><img src="<%=user.avatar%>" alt="user photo"></a> </li> 
      <!-- <li><img src="<%=user.avatar%>" alt="user"></li> -->
      <li> <form action="/logout" method="post">
            
            <button type="submit">logged out </button>
        </form>
       
    </li> 

       <% }%>
       <%  if(!user){%>
        <li><a href="/signup">signup</a></li>
        <li><a href="/login">login</a></li>
        <% }%>
       
    </ul>
</nav>